<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duration</key>
    <real>-1</real>
    <key>emissionRate</key>
    <real>10</real>
    <key>life</key>
    <real>1.5</real>
    <key>lifeVar</key>
    <real>0.5</real>

    <key>startColorRed</key>
    <real>1.0</real>
    <key>startColorGreen</key>
    <real>1.0</real>
    <key>startColorBlue</key>
    <real>1.0</real>
    <key>startColorAlpha</key>
    <real>1.0</real>

    <key>startColorVarRed</key>
    <real>0.0</real>
    <key>startColorVarGreen</key>
    <real>0.0</real>
    <key>startColorVarBlue</key>
    <real>0.0</real>
    <key>startColorVarAlpha</key>
    <real>0.0</real>

    <key>endColorRed</key>
    <real>1.0</real>
    <key>endColorGreen</key>
    <real>1.0</real>
    <key>endColorBlue</key>
    <real>1.0</real>
    <key>endColorAlpha</key>
    <real>0.0</real>

    <key>endColorVarRed</key>
    <real>0.0</real>
    <key>endColorVarGreen</key>
    <real>0.0</real>
    <key>endColorVarBlue</key>
    <real>0.0</real>
    <key>endColorVarAlpha</key>
    <real>0.0</real>

    <key>angle</key>
    <real>90</real>
    <key>angleVar</key>
    <real>360</real>

    <key>startSize</key>
    <real>20</real>
    <key>startSizeVar</key>
    <real>5</real>
    <key>endSize</key>
    <real>0</real>
    <key>endSizeVar</key>
    <real>0</real>

    <key>speed</key>
    <real>100</real>
    <key>speedVar</key>
    <real>20</real>

    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>-100</real>

    <key>positionType</key>
    <integer>0</integer> <!-- FREE = 0, RELATIVE = 1, GROUPED = 2 -->

    <key>blendFuncSource</key>
    <integer>770</integer> <!-- SRC_ALPHA -->
    <key>blendFuncDestination</key>
    <integer>771</integer> <!-- ONE_MINUS_SRC_ALPHA -->

    
</dict>
</plist>
